<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <link href="http://fonts.cdnfonts.com/css/samarkan" rel="stylesheet">
    <link rel="stylesheet" href="/StyleCss/style.css">
    <title>Basic Health Care</title>
    
</head>
<body class="override">
    <nav class="navbar navbar-expand-lg" style="background-color: #2e4450;">
        <div class="container-fluid">
          <a class="navbar-brand" href="/" style="font-family: 'Samarkan', sans-serif; color: white;">Swasth</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/" style="color: white;">HOME</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <div class="headbox">
      
          <div class="container">
            <div class="left">
                <h1>Basic Health Care</h1>
                <p>The resurgence of home-based primary, acute, and palliative care has gained traction for its demonstrated potential to improve outcomes and reduce costs for our country’s most frail and vulnerable patients.</p>
            </div>
            <div class="right">
                <img src="./8225.jpg" alt="" id="heroimg">
            </div>
          </div>
    </div>


    <div class="section-head">
        <h3>Here You Go</h3>
    </div>
    <div class="section">
        <div class="card text-black mb-3" style="max-width: 20rem;">
            <div class="card-header">Gym Workouts</div>
            <div class="card-body">
                <!-- <h5 class="card-title">Primary card title</h5> -->
                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                <img src="./3297251.jpg" alt="" id="img">
                <a href="/workout"> <button  class="btn btn-primary">Visit</button></a>
            </div>
        </div>



        <div class="card text-black mb-3" style="max-width: 20rem;">
            <div class="card-header">Yoga and Meditation</div>
            <div class="card-body">
                <!-- <h5 class="card-title">Primary card title</h5> -->
                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                <img src="./organic-flat-people-meditating-illustration/5184243.jpg" alt="" id="img">
                <a href="/yoga"> <button  class="btn btn-primary">Visit</button></a>
            </div>
        </div>
        <div class="card text-black mb-3" style="max-width: 20rem;">
            <div class="card-header">Foods</div>
            <div class="card-body">
                <!-- <h5 class="card-title">Primary card title</h5> -->
                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                <img src="./flat-vegetables-fruits-background/2181821.jpg" alt="" id="img">
                <a href="/foods"> <button  class="btn btn-primary">Visit</button></a>

            </div>
        </div>
        <div class="card text-black  mb-3" style="max-width: 20rem;">
            <div class="card-header">Lifestyle Practices</div>
            <div class="card-body">
                <!-- <h5 class="card-title">Primary card title</h5> -->
                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                
                <img src="./healthy-lifestyle-concept-illustration/5193695.jpg" alt="" id="img">
                <a href="/lifestyle"> <button  class="btn btn-primary">Visit</button></a>
            </div>
        </div>
        
    </div>
</body>
</html>