<%- include('./partials/header'); -%>
<link rel="stylesheet" href="/StyleCss/login.css">
<!--card 1-------------------------------------->
<div class="card mt-4 mycard">
    <h5 class="card-header text-center">DIABETES</h5>
    <div class="card-body">
    
      <p class="card-text">Diabetes mellitus, commonly known as diabetes, is a metabolic disease that causes high blood sugar. The hormone insulin moves sugar from the blood into your cells to be stored or used for energy. With diabetes, your body either doesn’t make enough insulin or can’t effectively use the insulin it does make.</p>
      <h5 class="card-title text-center">There are two main types of diabetes: type 1 and type 2.</h5>
      <p class="card-text">Both types of diabetes are chronic diseases that affect the way your body regulates blood sugar, or glucose. Glucose is the fuel that feeds your body’s cells, but to enter your cells it needs a key. Insulin is that key.</p>
      <p class="card-text">
        <ul>
            <li>People with type 1 diabetes don’t produce insulin. we can think of it as not having a key.</li>
            <li>People with type 2 diabetes don’t respond to insulin as well as they should and later in the disease often don’t make enough insulin. we can think of it as having a broken key</li>

        </ul>
      </p>
      <p>
      <a  class="btn btn-primary" data-bs-toggle="collapse" href="#diabetes"  role="button" aria-expanded="false" aria-controls="diabetes">DIET FOR DIABETES</a>
    </p>
    </div>
  </div>

  <div class="collapse" id="diabetes">
    <div class="row">
      <div class="col-sm-6">
        <div class="card mt-3 mycard">
          <div class="card-body">
            <h5 class="card-title">Green leafy vegetables</h5>
            <p class="card-text">1. Green leafy vegetables like , spinach , collard greens , kale , cabbage bok choy , broccoli.
                Green leafy vegetables are packed full of essential vitamins, minerals, and nutrients. They also have minimal impact on blood sugar levels. Leafy greens, including spinach and kale, are a key plant-based source of potassium, vitamin A, and calcium. They also provide protein and fiber. eating green leafy vegetables is helpful for people with diabetes due to their high antioxidant content and starch-digesting enzymes.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card mt-3 mycard">
          <div class="card-body">
            <h5 class="card-title">Kale</h5>
            <p class="card-text"> Kale juice may help regulate blood sugar levels and improve blood pressure in people with subclinical hypertension. People can include green leafy vegetables in their diet in salads, side dishes, soups, and dinners. Combine them with a source of lean protein, such as chicken or tofu.</p>
           
          </div>
        </div>
      </div>
    </div>
    </div>

    <div class="collapse" id="diabetes">
        <div class="row">
          <div class="col-sm-6">
            <div class="card mt-3 mycard">
              <div class="card-body">
                <h5 class="card-title">Beans</h5>
                <p class="card-text"> Beans are an excellent food option for people with diabetes. They are source of plant-based protein, and they can satisfy the appetite while helping people reduce their carbohydrate intake. Eating beans can also help with weight loss and could help regulate a person’s blood pressure and cholesterol. </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card mt-3 mycard">
              <div class="card-body">
                <h5 class="card-title">Berries</h5>
                <p class="card-text">  Berries are full of antioxidants, which can help prevent oxidative stress. Blueberries, blackberries, strawberries, and raspberries all contain high levels of antioxidants and fiber. They also contain important other vitamins and minerals, including:
                    <ul>
                        <li>vitamin C</li>
                        <li>vitamin K</li>
                        <li>manganese</li>
                        <li>potassium</li>
                    </ul>
              </div>
            </div>
          </div>
        </div>
        </div>
  <!--=========================card 1 end=======================-->

  <!--card 1-------------------------------------->
<div class="card mt-4 mycard">
    <h5 class="card-header text-center">Pressure</h5>
    <div class="card-body">
    
      <p class="card-title">
        <table>
            <thead>
                <tr>
                    <th>BLOOD PRESSURE CATEGORY</th>
                    <th>SYSTOLIC mm Hg(upper number)</th>
                    <th>DIASTOLIC mm Hg(lower number)</th>
                </tr></thead>
                <tr>
                    <th>NORMAL</th>
                    <th>LESS THAN 120</th>
                    <th>less than 80</th>
                </tr>
                <tr>
                    <th>ELEVATED</th>
                    <th>120-129</th>
                    <th>LESS THAN 80</th>
                </tr>
                <tr>
                    <th>HIGH BLOOD PRESSURE</th>
                    <TH>130-139</TH>
                    <th>80-89</th>
                </tr>
                <tr>
                    <td>(HYPERTENSION)STAGE 1</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>HIGH BLOOD PRESSURE</th>
                    <TH>140 OR higher</TH>
                    <th>90 or higher</th>
                </tr>
                <tr>
                    <td>(HYPERTENSION)STAGE 2</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>HYPERTENSIVE CRISIS</th>
                    <TH>HIGHER THAN 180</TH>
                    <th>HIGHER THAN 120</th>
                </tr>
                <tr>
                    <td>(consult your doctor immediaterly)</td>
                    <td></td>
                    <td></td>
                </tr>
           
        </table>
      </p>
      <p>
      <a  class="btn btn-primary" data-bs-toggle="collapse" href="#pressure"  role="button" aria-expanded="false" aria-controls="pressure">DIET FOR Pressure patients</a>
    </p>
    </div>
  </div>

  <div class="collapse" id="pressure">
    <div class="row">
      <div class="col-sm-6">
        <div class="card mt-3 mycard">
          <div class="card-body ">
            <h5 class="card-title">Beans and Lentils</h5>
            <p class="card-text">Beans and lentils are rich in nutrients that helps requlate blood pressure,such as fiber, magnesium, and potassium. Numerous studies have shown that eting beans and lentils may help lower high blood pressure.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card mt-3 mycard">
          <div class="card-body">
            <h5 class="card-title">Carrots</h5>
            <p class="card-text">Crunchy , sweets ,and nutritious ,carrots are a staple veggie in many peoples's diets. Carrots are high in phenolic compunds, such as chlorogenic, p-coumaric, and caffeic acids, that help relax blood vessels and reduce inflammation, which may help lower blood pressure levels.</p>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div class="collapse" id="pressure">
        <div class="row">
          <div class="col-sm-6">
            <div class="card mt-3 mycard">
              <div class="card-body">
                <h5 class="card-title">Broccoli</h5>
                <p class="card-text">Broccoli is known for its many beneficial effects on health, including the health of your circulatory system. For example, adding cruciferous veggie to your diet may be a smart way to reduce blood pressure.
                    Broccoli is loaded with flavonoid antioxidants which may help lower blood pressure by enhancing blood vessels function and increasing nitric oxide levels in your body.
                    </p>
                
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card mt-3 mycard">
              <div class="card-body">
                <h5 class="card-title">GARLIC</h5>
                <p class="card-text">Garlic is known to be very effective in lowering high blood pressure. eating garlic pods does not magically bring down your BP levels in an instant, but eating in moderate quantities and adding it to your diet makes your heart stronger and contribute to overall health. Garlic cloves produce a chemical called allicin, which has shown many positive effects on blood pressure in general. Garlic is used widely as a flavouring in cooking but it has also been used as medicine throughout ancient and modern therapy. Garlic belong to the Allicin family. It is commonly used to manage condition related to heart and blood system. This includes high BP, high cholesterol, atherosclerosis. Garlic ensures regulation of endothelial nitric oxide(NO) which induces smooth muscle cell relaxation vasodilation of BP reduction.</p>
                
              </div>
            </div>
          </div>
        </div>
        </div>
  <!--=========================card 2 end=======================-->

  <!--card 1-------------------------------------->
<div class="card mt-4 mycard">
    <h5 class="card-header text-center">GASTRIC</h5>
    <div class="card-body">
    
    <p class="card-text">
        The main reasons behind gastric pain include gulping down meals at a rapid pace, intake of high amounts of aerated drinks and oily junk foods, consuming dishes with elevated levels of starch and insoluble fibres as well as imbalance in the healthy gut microbiome, which aid in digestion.

One of the most common causes of stomach pain is caused by excessive acid in the stomach. Known as gastric pain, it can vary from a mild ache to a severe, throbbing sensation in the upper stomach area. Some of its other symptoms include bloating, indigestion, feeling full again, nausea or vomiting.
    </p>
      <p>
      <a  class="btn btn-primary" data-bs-toggle="collapse" href="#gastric"  role="button" aria-expanded="false" aria-controls="gastric">DIET FOR gastric patients</a>
    </p>
    </div>
  </div>

  <div class="collapse" id="gastric">
    <div class="row">
      <div class="col-sm-6">
        <div class="card mt-3 mycard">
          <div class="card-body">
            <h5 class="card-title">Herbal Tea</h5>
            <p class="card-text">Herbal teas are made with extracts from plants that have many medicinal properties. Since they are packed with strong antioxidants and anti-inflammatory compunds, herbals teas help in smooth digestion and lower pain due to gastric problems. some popular herbals teas include ginger, peppermint, and lemon tea.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card mt-3 mycard">
          <div class="card-body">
            <h5 class="card-title">Fennel seeds</h5>
            <p class="card-text">Fennel seeds or saunf are a tried and tested remedy for gastric pain. In India, they are generally chewed post meals to improve digestion. They contain some vital plant compounds that fuel gastric secretions, enabling smooth processing of food particles and easing symptoms of indigestion and constipation.</p>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div class="collapse" id="gastric">
        <div class="row">
          <div class="col-sm-6">
            <div class="card mt-3 mycard">
              <div class="card-body">
                <h5 class="card-title">Clove</h5>
                <p class="card-text">Clove is a traditional remedy for bloating, gatsric pain, flatulence, constipation etc. Chewing cloves or swallowing a teaspoon of clove powder with cardamon after meals kindle the discharge of digestive acids, thereby preventing acidity and disssipationg excessive gas from the body.</p>
                
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card mt-3 mycard">
              <div class="card-body">
                <h5 class="card-title">HIGH FIBRE FOODS:-</h5>
                <p class="card-text">High-fibre foods like nuts and seeds, legumes, berries, and green vegetables, are beneficial for the whole digestive system and to help deal with gastric pain. Broccoli is especially important for gastric health. Besides being a good source of fibre, it also contains high levels of sulforaphane, a compound that kills the H.pylori bacteria, which causes abdominal problems.</p>
                
              </div>
            </div>
          </div>
        </div>
        </div>
  <!--=========================card 3 end=======================-->


    <!--card 4-------------------------------------->
<div class="card mt-4 mycard">
    <h5 class="card-header text-center">HEADACHE</h5>
    <div class="card-body">
    
    <p class="card-text">
        Headaches are a very common condition that most people will experience many times during their lives. The main symptom of a headache is a pain in your head or face. This can be throbbing, constant, sharp or dull. Headaches can be treated with medication, stress management and biofeedback </p>
      <p>
      <a  class="btn btn-primary" data-bs-toggle="collapse" href="#headache"  role="button" aria-expanded="false" aria-controls="headache">FOOD TO EAT TO RELIEVE HEADACHE:-</a>
    </p>
    </div>
  </div>

  <div class="collapse" id="headache">
    <div class="row">
      <div class="col-sm-6">
        <div class="card mt-3 mycard">
          <div class="card-body">
            <h5 class="card-title">Ginger</h5>
            <p class="card-text">Ginger is a superfood that is effective in providing reief from several health conditions. The root can block prostaglandins and can provide relief from headache and migraine.</div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card mt-3 mycard">
          <div class="card-body">
            <h5 class="card-title">WATERMELON</h5>
            <p class="card-text">A major cause of headache is dehydration. So, drinking water or having water-rich foods can help to soothe your condition. watermelon contains 92% of water and can be a good option to rehydrate you. It is packed with nutrients like potassium and magnesium, which works quite effectively on headache. </div>
        </div>
      </div>
    </div>
    </div>

    <div class="collapse" id="headache">
        <div class="row">
          <div class="col-sm-6">
            <div class="card mt-3 mycard">
              <div class="card-body">
                <h5 class="card-title">Spinach</h5>
                <p class="card-text">Leafy green vegetables like spinach and kale contain a high amount of magnesium, a nutrient that is known for its headache alleviating properties.</p>
                
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card mt-3 mycard">
              <div class="card-body">
                <h5 class="card-title">YOGHURT</h5>
                <p class="card-text">Having Calcium-rich food can also help to provide relief from your pounding headache. Calcium deficiency decreases the ability of the brain to work efficiently.Yoghurt contains a high amount of riboflavin, a part of the B vitamin complex that can be effective on headache. It is also good for your gut health.</p>
                
              </div>
            </div>
          </div>
        </div>
        </div>
  <!--=========================card 4 end=======================-->

 <!--card 5-------------------------------------->
 <div class="card mt-4 mb-4 mycard">
    <h5 class="card-header text-center">WHOLE BODY PAIN</h5>
    <div class="card-body">
    
    <p class="card-text">
        Aches and pains in your muscles are common and are usually caused by overuse.When you work out or do too much of a rigorous activity, your muscles may be sore for a few days.However, this type of muscle ache is limited to the muscles you used during the activity.
When ypu have muscles pain caused by another health condition or medication, your muscle pain won't be limited to a single muscle group. Statins and antibiotics are medications used to treat infections or conditions throught your whole body , so they may cause body aches as a side effect.
<br><br>
<u>Reasons that cause body aches:</u>
<ul>
    <li>Fibromyalgia:- The symptoms of this disease can mimic the feeling of muscle aches.</li>
    <li>Autoimmune disorders:- Autoimmune disorders are caused by the body attacking itself.Conditions like lupus or thyroid problems may contribute to aching muscles.</li>
    <li>Flu:-Having body aches is one symptoms that sets the flu apart from a COMMON COLD.</li>
</ul>
</p>
      <p>
      <a  class="btn btn-primary" data-bs-toggle="collapse" href="#body-pain"  role="button" aria-expanded="false" aria-controls="body-pain">Diet to Reduce Body Pain:</a>
    </p>
    </div>
  </div>

  <div class="collapse" id="body-pain">
    <div class="row">
      <div class="col-sm-6">
        <div class="card mt-3 mycard">
          <div class="card-body">
            <h5 class="card-title">PUMPKIN SEEDSr</h5>
            <p class="card-text">Pepitas are a terrific source of magnesium, a mineral that may cut the number of migraines you get. It may also help prevent and treat osteoporosis. But despite what you may have heard, it doesn't seeem to stop leg cramps at night. For more magnesium, add almonds and cashews, dark green leafy vegetables...like spinach and kale, beans, and lentils to your diet.</div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card mt-3 mycard">
          <div class="card-body">
            <h5 class="card-title">TURMERIC</h5>
            <p class="card-text">The compound in the spice that gives curry its bright orange-yellow color can affect several processes in your body, including inflammation. Studies of people with rhematoid arthritis and osteoarthritis who took supplement of curcumin found they could walk better and without the side effects of taking drugs. Black pepper can help your body absorb it, so try a blend of spices, stepped with ginger and honey into a tea.</div>
        </div>
      </div>
    </div>
    </div>

    <div class="collapse" id="body-pain">
        <div class="row">
          <div class="col-sm-6">
            <div class="card mt-3 mb-4 mycard">
              <div class="card-body">
                <h5 class="card-title">mint</h5>
                <p class="card-text">Peppermint oil relieves the painful cramps, gas, and bloating that are the hallmarks of irritable bowel syndrome. Peppermint tea is a good soother for occasiopnal tummy upset. In early research, Brazilian mint tea has beeen as effective as a prescription painkiller.</p>
                
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card mt-3 mb-4 mycard">
              <div class="card-body">
                <h5 class="card-title">CHILI PEPPER</h5>
                <p class="card-text">Capsaicin,the suff that gives chillies their heat ,is well known for its painkilling properties in creams and patches. Some early research suggests that eating hot peppers, instead of putting them on your skin, may reduce and prevent inflammation, too. The BURN also tricks your brain into releasing endorphins, which block pain signals.</p>
                
              </div>
            </div>
          </div>
        </div>
        </div>
  <!--=========================card 4 end=======================-->









