<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lifestyle Practices</title>
  </head>
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
    * {
      font-family: "Poppins", sans-serif;
    }
    body,
    html {
      height: 100%;
      margin: 0;
    }
    .container {
      background-image: url("https://images.unsplash.com/photo-1491438590914-bc09fcaaf77a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .headcontain {
      position: absolute;
      top: 50%;
      left: 50%;
      background-color: white;
      padding: 1rem;
      border-radius: 0.5rem;
      transform: translate(-50%, -50%);
      text-align: justify;
    }
    .headcontain h3 {
      text-align: center;
    }
    .headcontain .con2 {
      text-align: center;
    }
    .headcontain .con2 img{
      width: 20rem;
    }
    @media screen and (max-width: 768px) {
      .container {
        background-image: none;
      }
    }
  </style>
  <body>
    <div class="container">
      <div class="headcontain">
        <div class="con1">
          <h3>Lifestyle Practices</h3>
          <p>
            For a long, healthy life, the six key lifestyle behaviors are
            getting enough sleep, eating a healthy diet, being physically
            active, maintaining a healthy body weight, not smoking, and limiting
            alcohol. These factors may seem like a part of the common-sense
            advice you've heard many times, but there's a reason for that.
            They're all backed by data, and new medical research continues to
            point in the same healthy direction.
          </p>
        </div>
        <div class="con2">
          <figure>
            <img src="https://images.unsplash.com/photo-1590265718174-647698840b8d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1167&q=80" alt=""/>
            <figcaption>Say No to Smoking</figcaption>
          </figure>
        </div>
      </div>
    </div>
  </body>
</html>
