<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Workout</title>
  </head>
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
    * {
      font-family: "Poppins", sans-serif;
    }
    body,
    html {
      height: 100%;
      margin: 0;
    }
    .container {
      background-image: url("https://images.unsplash.com/photo-1476480862126-209bfaa8edc8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .headcontain {
      position: absolute;
      top: 50%;
      left: 50%;
      background-color: white;
      padding: 1rem;
      border-radius: 0.5rem;
      transform: translate(-50%, -50%);
      text-align: justify;
    }
    .headcontain h3 {
      text-align: center;
    }
    .headcontain .con2 {
      text-align: center;
    }
    .headcontain .con2 img{
      width: 20rem;
    }
    @media screen and (max-width: 768px) {
      .container {
        background-image: none;
      }
    }
  </style>
  <body>
    <div class="container">
      <div class="headcontain">
        <div class="con1">
          <h3>Home Workout</h3>
          <p>
            If the idea of a home workout makes you yawn, think again! When
            executed correctly, using just your body weight can give you a run
            for your money. So, whether the gym isn’t your thing or you’re short
            on time, clear out a space in the living room and prepare to sweat.
          </p>
        </div>
        <div class="con2">
          <figure>
            <img src="https://images.unsplash.com/photo-1584735935682-2f2b69dff9d2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80" alt=""/>
            <figcaption>Fig. - Dumbbells and Resistance Tube</figcaption>
          </figure>
        </div>
      </div>
    </div>
  </body>
</html>
