<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <link href="http://fonts.cdnfonts.com/css/samarkan" rel="stylesheet">
    <link rel="stylesheet" href="./style.css">
    <title>Yoga</title>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
        *{
          font-family: 'Poppins', sans-serif;
        }
        .headbox{
            /* background: #fafafa; */
            background-color: white;
            background-image: url(./img/patterns\ \(1\).png);
            /* background: yellowgreen; */

        }
        .navbar{
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
        }
        .container{
            display: flex;
            margin-top: 7rem;
            margin-bottom: 10rem;
            overflow: hidden;
            text-align: justify;
            justify-content: center;
        }
        .container .left{
            flex: 50%;
        }
        .container .left p, h1{
            margin: 2rem;
            width: 25rem;
        }
        .container .right{
            flex: 50%;
        }
        #heroimg{
            width: 25rem;
        }
        button{
        border-radius: 2rem;
        width: 6rem;
        padding: 0.5rem;
        cursor: pointer;
        transition: 0.5s ease;
        }
        button:hover{
            background-color: white;
        }



        .section{
            
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-evenly;
            margin-top: 3rem;
            margin-bottom: 5rem;
            align-items: center;
        }
        .section h3{
            margin-top: 5rem;
        }
        .section-head{
            display: flex;
            justify-content: center;
            margin-bottom: 5rem;
        }
        .override .card{
            box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
            border:none;
            /* max-width:23rem; */

        }
        .override .card-body{
            /* background-color: #AFC3FF; */
        }

        #img{
            width: 21rem;
            /* height: 2rem; */
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-left: 2rem;
            margin-right: 2rem;
        }
        #override .navbar{
            justify-content: center;
        }
        #override .head{
            margin-top: 2rem;
            text-align: center;
        }





        .card{
            width: 18rem;
            min-width: 20rem;
        }
        .card-header
        {
            text-align: center;
        }
        .card-body{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height:20rem;
        }
        .override .btn{
            margin-top: 6px;
        }
        .left button a{
            text-decoration: none;
            color:black;
        }

        .long-card{
            display: flex;
            max-width: 82rem;
            /* border: 2px solid; */
            box-shadow: 0px 4px 12px rgb(0 0 0 / 50%);
            margin-top: 15px;
            padding: 1rem;
        }
        .long-card .right{
            flex-direction: row-reverse;
        }
        .text{
            display: flex;
            margin-left: 6rem;
            align-items: center;
            flex-direction: column;
            justify-content: center;
        }
        .a{
            display: flex;
            /* justify-content: center; */
            flex-direction: column;
            align-items: center;
        }
        @media screen and (max-width:768px) {
            .container{
                flex-direction: column;
                text-align: center;
                justify-content: center;
                align-items: center;
                margin-top: 1rem;
            }
            .container .left p, h1{
                margin: 2rem;
                width: 18rem;
            }
            .long-card{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            .text{
                margin-left: 2rem;
            }
        }
        @media screen and (max-width:322px){
            #img{
                width:19rem;
            }
            .long-card{
                padding: 0;
            }
        }
    </style>
</head>
<body id="override">
  <div class="headbox">
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#" style="font-family: 'Samarkan', sans-serif;">Swasth</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-center">
            
            </ul>
            <!-- <form class="d-flex" role="search">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/login">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/register">Sign Up</a>
                </li>
              </ul>
            </form> -->
          </div>
        </div>
      </nav>
      <div class="head">
        <h2>Yoga</h2>
      </div>
      <div class="container">
        <img id="heroimg" src="./img/newimg" alt="">
        
      </div>
  </div>

  <div class="section">
    <div class="a"><h3>Suryanamaskar</h3>
      <div class="long-card left">
        <div class="card text-black mb-3" style="max-width: 20rem;">
            <!-- <div class="card-header">Diseases</div> -->
            <div class="card-body">
                <img src="./img/suryanamaskar.png"
                alt="" id="img">
                <!-- <button type="button" class="btn btn-primary">Visit</button> -->
            </div>
        </div>
        <div class="text">
          <div class="part1">
            <p>As a new yoga student, you might feel overwhelmed by the sheer
              number of poses and their odd-sounding names. But yoga doesn't have
              to be hard. If you got out of bed this morning and stretched your
              arms up over your head, you already did a yoga pose. And remember
              that your yoga practice is a lifelong pursuit—giving you plenty of
              time to learn scores of postures.
            </p>
  
          </div>
          <div class="part2">
            <h4>Benefits</h4>
            <p>1. Helps with weight loss
              2. Strengthens muscles and joints
              3. Improved complexion
              4. Ensures a better functioning digestive system
              5. Helps combat insomnia
              6. Ensures regular menstrual cycle
              7. Useful in treatment of frozen shoulders
            </p>
  
          </div>
        </div>
      </div>
    
    </div>
    <div class="a">
      <h3>Padmasana</h3>
      <div class="long-card right">
        <div class="card text-black mb-3" style="max-width: 20rem;">
            <div class="card-body">
                <img src="./img/padmasana.jpg"
                alt="" id="img">
            </div>
        </div>
        <div class="text">
          <div class="part1">
            <p>Padmasana may seem simple, it is considered an intermediate to advanced pose and may not be comfortable for beginners. In basic terms, Lotus Pose is sitting cross-legged with the spine vertically straight, making it ideal for meditation and concentration.

              The religious correlation between Padmasana and Buddhism is rather significant. In Sanskrit, Padmasana is derived from the words padma (meaning lotus) and sana (meaning seat or throne). Interestingly, the lotus, a sacred aquatic plant, is one of the Eight Auspicious Symbols and one of Buddhism’s most recognized motifs. Every important Buddhist diety is pictured either sitting on a lotus or holding one in their hand.
            </p>

          </div>
          <div class="part2">
            <h4>Benefits</h4>
            <p>1. Opens up the hips
              2. Stretches the ankles and knees
              3. Calms the brain
              4. Increases awareness and attentiveness
              5. Keeps the spine straight
              6. Helps develop good posture
              7. Eases menstrual discomfort and sciatica
              8. Helps keeps joints and ligaments flexible
              9. Stimulates the spine, pelvis, abdomen, and bladder
              10. Restores energy levels
              </p>

          </div>
        </div>
      </div>
    </div>
    <div class="a">
      <h3>Bhujangasana</h3>
      <div class="long-card right">
        <div class="card text-black mb-3" style="max-width: 20rem;">
            <div class="card-body">
                <img src="./img/bhujangasana.jpg"
                alt="" id="img">
            </div>
        </div>
        <div class="text">
          <div class="part1">
            <p>Bhujangasana is a back bending pose which is also a part of the traditional Surya Namaskar sequence coming at step 8, and step 20. In Sanskrit, the word Bhujangasana comes a combination of two words- 'bhujanga' which translates to 'cobra' or and 'asana' meaning 'posture'. Even visually it reflects the posture of a cobra that has its hood raised, and hence it is also known as 'Cobra Pose'.
              Start your practise with Sukshma Vyayam or subtle exercises. These consist of gentle rotation of neck, arms, wrists, hips, ankles to slowly warm up the joints. Walk around briskly, and stretch and mobilize your muscles. This will prepare your body for a practice, and keep you safe from practice-related injuries. Before you attempt any back-bending postures, ensure that your body is sufficiently warmed up.
            </p>

          </div>
          <div class="part2">
            <h4>Benefits</h4>
            <p>1. Strengthens the spine
              2. Stretches chest and lungs, 3. shoulders, and abdomen
              4. Tones the buttocks
              5. Stimulates abdominal organs
              6. Helps relieve stress and fatigue
              7. Opens the heart and lungs
              8. Soothes sciatica
              9. Therapeutic for asthma
              10. The male and female reproductive system improves.
              </p>

          </div>
        </div>
      </div>
    </div>
    
  </div>
        
</body>
</html>