<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Yoga</title>
  </head>
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
    * {
      font-family: "Poppins", sans-serif;
    }
    body,
    html {
      height: 100%;
      margin: 0;
    }
    .container {
      background-image: url("https://images.unsplash.com/photo-1544367567-0f2fcb009e0b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1220&q=80");
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .headcontain {
      position: absolute;
      top: 50%;
      left: 50%;
      background-color: white;
      padding: 1rem;
      border-radius: 0.5rem;
      transform: translate(-50%, -50%);
      text-align: justify;
    }
    .headcontain h3 {
      text-align: center;
    }
    .headcontain .con2{
        text-align: center;
    }
    @media screen and (max-width:768px) {
        .container{
            background-image: none;
        }
    }
  </style>
  <body>
    <div class="container">
      <div class="headcontain">
        <div class="con1">
          <h3>Yoga</h3>
          <p>
            As a new yoga student, you might feel overwhelmed by the sheer
            number of poses and their odd-sounding names. But yoga doesn't have
            to be hard. If you got out of bed this morning and stretched your
            arms up over your head, you already did a yoga pose. And remember
            that your yoga practice is a lifelong pursuit—giving you plenty of
            time to learn scores of postures.
          </p>
        </div>
        <div class="con2">
            <figure>
                <img src="https://t3.ftcdn.net/jpg/03/58/95/44/360_F_358954456_tGjWpLacHy2JYxOlk7Zh3SDwwdoYcHaM.jpg" alt="" />
                <figcaption>Fig. - Surya Namaskar</figcaption>
            </figure>
        </div>
      </div>
    </div>
  </body>
</html>
